/* style.css */

/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    margin-top: 1%;
    font-size: 13px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

#homepage {
    color: blue;
}

/* Header */
h1 {
    font-size: 86px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
    font-weight: 620;
    letter-spacing: -3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue {
    color: rgb(57, 140, 223);
}

.red {
    color: red;
}

.yellow {
    color: rgb(255, 200, 0);
}

.green {
    color: rgb(41, 173, 41);
}

.red {
    color: rgb(221, 62, 62);
}

h3 {
    margin-top: -72px;
    margin-left: 14%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #4285f4;
    margin-bottom: -4px;
}

/* Search Bar */
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 39%;
}

form input[type="text"] {
    border-radius: 30px;
    margin-right: 10px;
    height: 40px;
    width: 39%;
    align-self: center;
    margin-top: -66%;
    border: solid lightgrey;
    border-width: 1px;
    padding-left: 20px;
}

form input[type="text"]:hover {
    box-shadow: 1px 1px 1px 1px lightgray;
    border-color: lightgray;
}

/* Buttons */
form .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

form input[type="submit"]:hover {
    border: solid lightgray;
    box-shadow: 1px 1px 1px rgb(168, 168, 168);
    border-width: 1px;
    cursor: pointer;
}

form .buttons input[type="submit"]:first-child {
    margin-right: 10px;
}

/* Media Queries */

/* Mobile */
@media screen and (max-width: 600px) {
    nav a {
        font-size: ;
    }

    h1 {
        margin-top: 16vw;
        font-size: 14vw;
    }

    h3 {
        margin-top: -12vw;
        margin-left: 35vw;
        margin-bottom: 7vw;
    }

    nav {
        margin-top: 6vw;
        margin-right: 2vw;
    }

    form {
        margin-top: 4vw;
        align-items: center;
        margin-left: 4vw;
        width: 90%;
    }

    form input[type="text"] {
        width: 80%;
        margin-top: 2vw;
    }

    form .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 4vw;
    }

    form input[type="submit"] {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1050px) {
    h1 {
        margin-top: 20%;
        font-size: 14vw;
    }

    h3 {
        margin-top: -12vw;
        font-size: 1em;
        margin-left: 34vw;
    }

    nav {
        margin-top: 3%;
        margin-right: 5%;
    }

    nav a {
        font-size: 12px;
    }

    form {
        margin-top: 5%;
        align-items: center;
        margin-left: 5%;
        width: 90%;
    }

    form input[type="text"] {
        width: 80%;
        margin-top: 10px;
    }

    form .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
